<!--UserPanel/Register-->

@using Microsoft.AspNetCore.Mvc.Localization
@using ErpServer.Controllers;


@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>
@{ 
    if(UserPanelController.Error)
    {
        <p>@UserPanelController.ErrorMessage</p>

    }


}
<form action="RegisterNewUser" method="post">
    
    @Localizer["UserName"]<br>
    <input type="text" name="UserName"><br>
    @Localizer["Password"]<br>
    <input type="password" name="Password"><br>
    <input type="submit">
</form>
