<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="IRestService" sendTimeout="00:05:00"
            maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.1" />
    <httpRuntime targetFramework="4.7.1"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="WCF_REST.RestService" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="WCF_REST.IRestService" behaviorConfiguration="IRestService">
          
        </endpoint>        
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceMetadata httpGetEnabled="true"></serviceMetadata>
          <serviceDebug includeExceptionDetailInFaults="true"></serviceDebug>
        </behavior>        
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="IRestService">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <webHttp></webHttp>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Aby przeglądać katalog główny aplikacji sieci Web w trakcie debugowania, ustaw dla poniższego elementu wartość true.
        Ustaw wartość false przed wdrożeniem, aby zapobiec ujawnieniu informacji o folderze aplikacji sieci Web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
