<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.1" />
    <httpRuntime targetFramework="4.7.1"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="WCF_REST.RestService" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="WCF_REST.IRestService" behaviorConfiguration="web">
          
        </endpoint>        
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true"></serviceMetadata>
          <serviceDebug includeExceptionDetailInFaults="true"></serviceDebug>
        </behavior>        
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp></webHttp>>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Aby przeglądać katalog główny aplikacji sieci Web w trakcie debugowania, ustaw dla poniższego elementu wartość true.
        Ustaw wartość false przed wdrożeniem, aby zapobiec ujawnieniu informacji o folderze aplikacji sieci Web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
